<h2 id="title">Testing Auth0 - Ember Simple Auth</h2>

{{#if session.isAuthenticated}}
  <a {{ action 'invalidateSession' }}>Logout</a>
{{else}}
  <a {{ action 'showAuth0Lock' }}>Login</a>
{{/if}}

{{outlet}}
